{% extends "base.html" %}

{% block content %}

<div class="container">
	<br>
	<h2 class="text-center">Quelques Curiosites</h2>
  <div class="row justify-content-around">
  	{% for blogro in blogros %}
    <div class="col-lg col-md-3 col-sm-4 col-xs-6 dernier">
 <br>   
 <a class="navblog" href="{% url 'blogro:detailro' blogro.slug %}">  
<img src="{{ blogro.image1.url }}" height=90 width=90 class="rounded-circle photostyle">
<br>
<h4>{{ blogro.title }}</h4></a>
<h6>{{ blogro.date }}</h6>
<p>{{ blogro.description1|striptags|truncatechars:35 }}</p>

<!-- {% if project.url %}
<a href="{{ project.url }}">link</a>
{% endif %} -->


    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}